<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user, size: 75 %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="span8">
    <% if @user.accounts.any? %>
      <h3>Accounts <small>(<%= @user.accounts.count %>)</small></h3>
      <ol class="accounts">
        <%= render @accounts %>
      </ol>
      <%= will_paginate @accounts %>
    <% end %>
  </div>
</div>
